/*
*   SIZES
*/
$fixed-top-menu-size: 135px;
$mobile-menu-bar-size: 66px;

/*
*   COLORS
*/
$akyildizRed: #e02129;
$coolBlack: #333;
$nightBlack: #000;
$standardGray: #eee;
$darkerGray: #ddd;
$devilGray: #666;