.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    //padding-top: 20px;
    border-top: 5px solid $akyildizRed;
    border-bottom: 2px solid $standardGray;
    //min-height: $fixed-top-menu-size;
    box-sizing: border-box;
    background: white;
    @media all and( max-width: 970px) {
        text-align: center;
        position: absolute;
    }
    .logo {
        margin: 15px 0;
        transition: all 0.7s ease;
        &:hover {
            transform:scale(1.05);
        }
        @media all and (max-width:970px){
            width: 150px;
        }
    }
    nav {
        float: right;
        ul {
            margin:0;
            list-style: none;
            line-height: 104px;
            li {
                position: relative;
                display: inline;
                margin-right: 13px;
                a {
                    line-height: 72px;
                    text-decoration: none;
                    font-size: 1.05em;
                    color: $coolBlack;
                    transition: 0.7s color;
                    letter-spacing: 0.005em;
                    img {
                        vertical-align: middle;
                        margin-right: 5px;
                        width: 22px;
                        height: auto;
                        margin-top: -3px;
                    }
                    &:hover {
                        color: #000;
                    }
                }
                &:hover:after,
                &.active:after {
                    width: 100%;
                }
            }
            li:after {
                transition: 0.7s all;
                content: "";
                position: absolute;
                left: 0;
                width: 0;
                bottom: -7px;
                border-bottom: 1px solid $coolBlack;
            }
            li:last-of-type {
                margin-right: 0;
            }
            li.active {
                a {
                    color: $akyildizRed;
                }
            }
            li.selectedLanguage {
                border: 2px solid $akyildizRed;
                padding: 10px;
                border-radius: 3px;
            }
        }
    }
}